<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CMDL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="CMDL.Properties.Settings.cmdldbConnectionString" connectionString="server=localhost;User Id=root;password=Cyber001;database=cmdldb" providerName="MySql.Data.MySqlClient"/>
    <add name="CyberContext" connectionString="metadata=res://*/Models.CyberModel.csdl|res://*/Models.CyberModel.ssdl|res://*/Models.CyberModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=Cyber001;persistsecurityinfo=True;database=cmdldb&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <userSettings>
    <CMDL.Properties.Settings>
      <setting name="Server" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="UserID" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>3306</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>Cyber001</value>
      </setting>
      <setting name="Ck_Reg" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Ck_XRay" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Ck_Neuro" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Ck_Lab" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Company" serializeAs="String">
        <value>CYBER MEDICAL AND DIAGNOSTIC LABORATORY</value>
      </setting>
      <setting name="Company_Profile" serializeAs="String">
        <value>DOH-PNP-LTO ACCREDITED DRUG TEST CENTER</value>
      </setting>
      <setting name="Company_Addr" serializeAs="String">
        <value>2nd Floor La Nora Bldg. N. Bacalso Avenue, Cebu City</value>
      </setting>
      <setting name="Company_TelNo" serializeAs="String">
        <value>Tel. No(s): (032) 253 - 6923 / (032) 256 - 2957</value>
      </setting>
      <setting name="RadioReport" serializeAs="String">
        <value>The lung fields are clear. The heart is normal in size, shape and position. The pulmonary vessels are within normal limits. Both hemidiaphragm are sharp and distinct. The trachea lies in the midline. The aorta is not remarkable. The osseous thoracic cage reveals no significant bony abnormality.
</value>
      </setting>
      <setting name="XRayRemarks" serializeAs="String">
        <value>NEGATIVE CHEST</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>cmdldb</value>
      </setting>
      <setting name="Ck_Update" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Ck_Settings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Ck_Reports" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Ck_About" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EFConnectionString" serializeAs="String">
        <value/>
      </setting>
    </CMDL.Properties.Settings>
  </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.9.5.0" newVersion="6.9.5.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data></configuration>
